/* Global variables */

:root {
  /* colors */
  --page-background: aliceblue;
  --topnav-background: white;

  /* spacing */
  --content-margins: 5%;

  /* fonts */
  --font-family: 'Roboto', 'Verdana', sans-serif;
  font-size: 18px;
}

/* testing outline */
/* * {
  outline: 1px solid red;
} */




/* element styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: 1rem;

  margin: 0;
  padding: 0;

  background-color: var(--page-background);

  scroll-behavior: smooth;
}

p {
  line-height: 1.5;
}




/* page classes */

.section {
  width: 100%;
  padding: 10px var(--content-margins);
}

.section-header {
  margin-bottom: 25px;
  font-size: 1.5rem;

  text-align: center;
}

.section-content {
  padding: 0 100px;
}




/* id styles */


/* top nav */

#topnav{
  background-color: var(--topnav-background);
  padding: 10px var(--content-margins)
}

#topnav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#topnav-logo{
  height: 55px;
}

#topnav-logo img{
  object-fit: contain;
  height: 100%;
}


/* hero */

#hero {
  background-image: url('../assets/hero-bg.jpg');
  background-size: cover;
  background-position: center;
}

#hero-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  min-height: 200px;
  height: 25vh;
  width: 100%;
}

#herotext {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  text-align: right;
}


/* intro */

#intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}


/* skillsets */

#skillsets-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skillset {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 100px;
  width: 25%;
  text-align: center;
}

/* footer */

#footer{
  background-color: lightgray;
}

#footer-content p{
  text-align: center;
  padding: 10px;
}