/* Global variables */

:root {
  /* colors */
  --page-background: aliceblue;
  --topnav-background: aqua;

  /* spacing */
  --content-margin-left: 5%;
  --content-margin-right: var(--content-margin-left);

  /* fonts */
  --font-family: 'Roboto', 'Verdana', sans-serif;
  font-size: 18px;
}

/* testing outline */
/* * {
  outline: 1px solid red;
} */




/* element styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: 1rem;

  margin: 0;
  padding: 0;

  background-color: var(--page-background);
}

p {
  line-height: 1.5;
}



/* page classes */

.page-section {
  width: 100%;
  padding-left: var(--content-margin-left);
  padding-right: var(--content-margin-right);
}

.section-header {
  margin-bottom: 25px;
  font-size: 1.5rem;
}

.content-container {
  padding: 35px;
}




/* top nav */

#topnav{
  background-color: var(--topnav-background);
}

#topnav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
}




/* hero */

#hero {
  background-image: url('../assets/hero-bg.jpg');
  background-size: cover;
  background-position: center;

  /* filter: brightness(0.5); */
}

#hero-content {
  display: flex;
  justify-content: right;
  align-items: center;

  height: 300px;
}

#herotext {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  text-align: right;
  padding-right: 20px;

  width: 33%;
}


/* intro */

#intro {
  background-color: lightgray;
}

#intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}